@use '../utils' as *;

/*=============================
    	06. countdown scss
===============================*/

.td-countdown{
    &-2{
        &-title{
            & .title{
                font-weight: 700;
                font-size: 36px;
                color: var(--td-common-black);
            }
            & .subtitle{
                font-weight: 600;
                font-size: 24px;
                color: var(--td-common-black);
            }
        }
        &-wrap{
            & ul{
                & li{
                    background: var(--td-common-yellow);
                    color: var(--td-common-black);
                    font-size: 36px;
                    font-weight: 800;
                    width: 114px;
                    height: 112px;
                    padding-top: 30px;
                    clip-path: polygon(0 0, 75% 0%, 100% 28%, 100% 80%, 100% 100%, 25% 100%, 0% 72%, 0% 20%);
                    border-radius: 10px 35px 10px 35px;
                    margin-right: 5px!important;
                    @media #{$xl,$lg,$md,$sm} {
                        font-size: 34px;
                        width: 104px;
                        height: 106px;
                        padding-top: 26px;
                    }
                    @media #{$xs} {
                        margin-right: 0px!important;
                        width: 80px;
                        height: 80px;
                        padding-top: 16px;
                        font-size: 22px;
                    }
                    & span{
                        font-weight: 500;
                    }
                }
            }
        }
        &-location{
            background: var(--td-theme-primary);
            display: inline-block;
            padding: 27px 50px 27px 70px;
            clip-path: polygon(0 0, 90% 0%, 100% 28%, 100% 80%, 100% 100%, 10% 100%, 0% 72%, 0% 20%);
            border-radius: 10px 45px 10px 45px;
            @media #{$xl,$lg,$md,$sm,$xs} {
                padding: 27px 40px 27px 50px;
			}
            &-icon{
                position: absolute;
                top: 26px;
                left: 34px;
                z-index: -1;
            }
            & .title{
                font-weight: 600;
                font-size: 24px;
                color: var(--td-common-white);
                margin-bottom: 4px;
            }
            & .subtitle{
                font-family: var(--td-ff-poppins);
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
                color: var(--td-common-white);
            }
            &-wrap{
                @media #{$lg,$md,$sm,$xs} {
                    text-align: left!important;
                }
            }
        }
    }
    &-3{
        &-wrap{
            background: var(--td-theme-secondary);
            box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            padding: 30px 60px 0px 50px;
            margin-top: -70px;
            @media #{$xs} {
                padding: 30px 30px 0px 30px;
            }
            & .td-hero-countdown ul li {
                color: var(--td-common-black);
                background: var(--td-common-white);
                border-radius: 18px;
                width: 90px;
                height: 90px;
                font-weight: 600;
                font-size: 27px;
                padding-top: 20px;
                @media #{$xs} {
					font-size: 20px;
                    width: 65px;
                    height: 65px;
                    font-weight: 600;
                    padding-top: 5px;
				}
                & span{
					font-size: 12px;
					margin-top: 0px;
				}
            }
            & .td-countdown-2-location {
                background: none;
                display: inline-block;
                padding: 0;
                border-radius: 0;
                clip-path: none;
                display: flex;
                align-items: center;
                @media #{$lg,$md,$sm,$xs} {
                    margin-left: 0;
                }
            }
            & .td-countdown-2-location-icon {
                position: inherit;
                z-index: 1;
                top: inherit;
                left: inherit;
                margin-right: 15px;
            }
            & .td-hero-countdown {
                margin-left: -38px;
                @media #{$xl,$lg,$md,$sm,$xs} {
                    margin-left: 0;
                    margin-right: -30px;
                }  
            }
        }
        &-location{
            font-size: 18px;
            line-height: 24px;
            text-transform: capitalize;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--td-common-white);
            display: inline-block;
            &:hover{
                color: var(--td-common-white);
            }
        }
        &-shape{
            position: absolute;
            right: 28%;
            top: 0;
            z-index: -1;
            &-2{
                position: absolute;
                left: 28%;
                bottom: 0;
                z-index: -1;
            }
        }
    }
    &-6{
        &-wrap{
            box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.15);
            background: var(--td-theme-primary);
            padding: 50px 60px 20px 50px;
            @media #{$sm,$xs} {
                padding: 30px 20px 0px 20px;
            }
            & .td-countdown-3-wrap {
                background: transparent;
                box-shadow: none;
                border-radius: 0;
                margin-top: 0;
                padding: 0;
            }
            & .td-hero-countdown ul li {
                color: var(--td-common-black);
                background: var(--td-common-yellow);
                border-color: var(--td-common-yellow);
            }
            & .td-countdown-3-shape-2 {
                left: 5%;
            }
            & .td-countdown-3-shape {
                right: 32%;
            }
            & .td-countdown-2-title{
                @media #{$xl,$lg,$md,$sm,$xs} {
                    margin-left: 0;
                }
            }  
            & .td-countdown-2-location {
                @media #{$xl,$lg,$md,$sm,$xs} {
                    margin-left: 0;
                }
            }
            & .td-countdown-2-title .subtitle {
                @media #{$xl,$lg,$md,$sm,$xs} {
                    font-size: 18px;
                }
            }
        }
    }
}