
@use '../utils' as *;

/*=============================
    	16. map
===============================*/

.td-map{
    &-inner{
        line-height: 1;
        background: var(--td-common-yellow);
        & iframe{
            width: 100%;
            height: 543px;
            filter: saturate(0);
            line-height: 1;
            @media #{$md,$sm,$xs} {
                height: 350px;
            }
        }
    }
    &-4{
        &-inner{
            background: #06061b;
        }
    }
}